
@media (min-width:992px)
{
    .box1 ,.box2 ,.box3
    {
        float:left;
    }
    .box1{
        width: 30%;
    }
    .box2{
        width: 30%;
    }
    .box3{
        width: 30%;
    }
}

@media (min-width:792px) and (max-width:991px)
{
    .box1,.box2
    {
        float:left;
    }
    .box1
    {
        width: 36%;
    }
    .box2
    {
        width: 36%;
    }
    .box3
    {
        width: 74.5%;
    }
}

@media (max-width:791px)
{
    .box1
    {
        width: 97%;
    }
    .box2
    {
        width: 97%;
    }
    .box3
    {
        width: 97%;
    }
}